@model ForgetPasswordDTO
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<body>
    <div class="auth-container">
        <header class="auth-header">
            <span class="p-prefix">W</span>elcome Back
        </header>

        <form asp-controller="Account" asp-action="ForgetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-group mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="" autofocus />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div >
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="SMSOrEmail"  value="Email">
                    <label class="form-check-label" asp-for="SMSOrEmail">Email</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="SMSOrEmail"  value="SMS">
                    <label class="form-check-label" asp-for="SMSOrEmail">SMS</label>
                </div>
            </div>

           

            <div class="form-group">
                <button type="submit" class="btn btn-primary w-100">Forget</button>
            </div>

            <div class="text-center mt-4">
                <p class="mb-0" style="color: #b0b0b0;">Already have an account? <a asp-controller="Account" asp-action="SignIn" class="auth-link fw-bold">Sign In</a></p>
            </div>
            <div class="text-center mt-4">
                <p class="mb-0" style="color: #b0b0b0;">Don't have an account? <a asp-controller="Account" asp-action="SignUp" class="auth-link fw-bold">Sign Up</a></p>
            </div>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>

