@model ResetPasswordDTO
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
	string Email = TempData["Email"]?.ToString();
}

<body>
    <div class="auth-container">
        <header class="auth-header">
            <span class="p-prefix">W</span>elcome Back
        </header>

        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Email" value="@TempData["Email"]" />
            <div class="form-group mb-3">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" placeholder="" autofocus />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" placeholder="" autofocus />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
           



            <div class="form-group">
                <button type="submit" class="btn btn-primary w-100">Change Password</button>
            </div>

            <div class="text-center mt-4">
                <p class="mb-0" style="color: #b0b0b0;">Already have an account? <a asp-controller="Account" asp-action="SignIn" class="auth-link fw-bold">Sign Up</a></p>
            </div>
            <div class="text-center mt-4">
                <p class="mb-0" style="color: #b0b0b0;">Don't have an account? <a asp-controller="Account" asp-action="SignUp" class="auth-link fw-bold">Sign Up</a></p>
            </div>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>


