@{
    ViewData["Title"] = "Home Page";
}

<div class="home-hero-container">
    <section class="hero" >
        <h1>Where <span>Trust</span> Meets the <span>Road</span></h1>
        <p>TrustRide is your partner on every journey, offering well-maintained cars, fair prices, and the peace of mind you deserve.</p>
    </section>
</div>
