@{
    ViewData["Title"] = "Home Page";
}



<section class="hero">
    <h1>Where <span>Trust</span> Meets the <span>Road</span></h1>
    <div>
         <p>TrustRide is your partner on every journey, offering well-maintained cars, fair prices, and peace of mind.</p>
    </div>
</section>
